.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.post {
    margin: 20px;
}

.post p {
    text-align: justify;
}

.filter {
    margin-top: 10px;
}