{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block page_title %}
<h1>Welcome to my blog</h1>
{% endblock %}

{% block content %}
    <div class="filter">
        <form action="" method="post">
            <select name="sort_by" id="sort_by">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </div>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.timestamp.strftime('%Y-%m-%d %H:%m:%S') }}</p>
            <p>{{ post.body[:-1000] }}</p>
            <a href="posts/{{ post.id }}">Read More...</a>
        </div>
    {% endfor %}
{% endblock %}